@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");






th {
    background-color: #ffffff;
    text-align: justify;
    /* Ensures the text is justified */
    vertical-align: middle;
    /* Centers text vertically */
    padding: 10px;
    /* Adjust padding if needed */
    width: 400px;
}




td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
    /* Center text horizontally */
    vertical-align: middle;
    /* Center text vertically */
    text-anchor: middle;
}

td[contenteditable="true"] {
    background-color: #26a3e108;
    border-color: #26a3e1;
    cursor: text;
    text-align: center;
    /* Center text horizontally */
    vertical-align: middle;
    /* Center text vertically */
}

td[contenteditable="true"]:focus {
    outline: 2px solid #4c68af;
}

td[contenteditable="false"] {
    background-color: #fff;
    border-color: #26a3e1;
    cursor: text;
    text-align: center;
    /* Ensure consistent alignment */
    vertical-align: middle;
}




.table-container {
    width: 95%;
    max-height: 500px;
    /* Adjust height as needed */
    overflow-y: auto;
}


/* Styling for the table */
#sortable-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#sortable-table th,
#sortable-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

#sortable-table th {
    cursor: pointer;
    background-color: #f4f4f4;
}

.answer-container {
    margin-bottom: 20px;
}

.answer-field {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    overflow: auto;
}

[id^="validateButton"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

[id^="validateButton"]:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

[id^="validateButton"]:active {
    background-color: #1c5980;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

[id^="validateButton"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}